@model Cafeteria.Models.Reporte

@using (Html.BeginForm("Resultado", "Reportealma", FormMethod.Post, new { @class = "form" }))
{
    @Html.ValidationSummary(false)
    <fieldset>
        <div class = "widget" >
            <div class = "title"><h6>Generar Reporte de Almacén</h6></div>

            <div class="formRow">
                <label>Fecha Inicio</label>
                <div class = "formRight"  style="  float:left; margin-left:120px; width: 230px">
                <input type = "text" id = "fecha1" name = "fecha1" class="datepicker" /></div>
                 entre Fecha Fin
                <input type = "text" id = "fecha2" name = "fecha2" class="datepicker" style=" width:90px" />
                <div class = "clear" ></div>
            </div>

            <div class="formRow">
               <span>Sucursal</span>                             
                
                <div class = "formRight" >
                <div class = "selector">@Html.DropDownListFor(modelitem => modelitem.idSucursal, Model.listaTipo)</div></div>
                <div class = "clear" ></div>
            </div>
           @* <div class="formRow">
                <label>Criterio Stock</label>
                <div class = "formRight" ><input type = "text" id = "Stock" name = "sucursal" /></div>
                <div class = "clear" ></div>
            </div>
            *@
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Generar" class = "redB" />
        <p></p>
        <a href="javascript:history.back()">Regresar</a> 
    </p>
}