<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="utf-8">
<link rel="stylesheet" href="../../Content/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="../../Content/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="../../Content/style.css" type="text/css" media="all">
<script type="text/javascript" src="../../Scripts/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="../../Scripts/cufon-yui.js"></script>
<script type="text/javascript" src="../../Scripts/cufon-replace.js"></script> 
<script type="text/javascript" src="../../Scripts/Myriad_Pro_italic_600.font.js"></script>
<script type="text/javascript" src="../../Scripts/Myriad_Pro_italic_400.font.js"></script>
<script type="text/javascript" src="../../Scripts/Myriad_Pro_400.font.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
	<div class="main">
<!-- header -->

	</div>
</div>
<div class="main">
	<div id="banner">
		<div class="text1">
			COMFORT<span>Guaranteed</span><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		
	</div>
</div>
<!-- / header -->
<div class="main">
<!-- content -->
	<section id="content">
		<article class="col1">
			<div class="pad_1">
				<h2>Confortate</h2>
				<form id="form_1" action="" method="post">

				</form>
				<h2>Noticias Recientes</h2>
				<p class="under"><a href="#" class="link1">Nemo enim ipsam voluptatem quia</a><br>November 5, 2010</p>
				<p class="under"><a href="#" class="link1">Voluptas aspernatur autoditaut fjugit</a><br>November 1, 2010</p>
				<p><a href="#" class="link1">Sed quia consequuntur magni</a><br>October 23, 2010</p>
			</div>
		</article>
		<article class="col2 pad_left1">
			<h2>Bienvenido a nuestro sitio Web!</h2>
			<p class="color1">Air Lines is a free web template created by TemplateMonster.com team. This website template is optimized for 1024X768 screen resolution. </p>
			<div class="marker">
				<div class="wrapper">
					<p class="pad_bot2"><strong>Aircraft</strong></p>
					<p class="pad_bot2">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
				</div>
			</div>
			<div class="wrapper pad_bot2"><a href="#" class="button1">Read More</a></div>
			<div class="marker">
				<div class="wrapper">
					<p class="pad_bot2"><strong>Charters</strong></p>
					<p class="pad_bot2">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
				</div>
			</div>
			<div class="wrapper pad_bot2">
				<a href="#" class="button1">Reservation</a>
				<a href="#" class="button2">Fleet</a>
			</div>
			<div class="wrapper">
				<article class="cols">
					<h2>Our Clients</h2>
					<p><strong>Avero eoset</strong> accusamus et iusto odio dig- nissimos ducimus qui blanditiis praesentium voluptatum deleniti.</p>
					<p>Atque corrupti quos dolores et quas moles- tias excepturi sint <a href="#">occaecati cupiditate</a> non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
				</article>
				<div class="box1">
					<div class="pad_1">
						<div class="wrapper">
							<p class="pad_bot2">Lorem ipsum dolor sit amet, consectetur adip- isicing elit, sed do eius- mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
							<p><span class="right">Mr. Thomas Lloyd</span>&nbsp;<br></p>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
<!-- / content -->
</div>
<div class="body2">
	<div class="main">
<!-- footer -->
		<footer>

		</footer>
<!-- / footer -->
	</div>
</div>
<script type="text/javascript">    Cufon.now(); </script>
</body>
</html>