<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
 
    <script language="javascript" type="text/javascript">
        //FECHA ACTUAL
        function obtiene_fecha() {

            var fecha_actual = new Date()

            var dia = fecha_actual.getDate()
            var mes = fecha_actual.getMonth() + 1
            var anio = fecha_actual.getFullYear()

            if (mes < 10)
                mes = '0' + mes

            if (dia < 10)
                dia = '0' + dia

            return (dia + "/" + mes + "/" + anio)
        }

        function MostrarFecha() {
            document.write(obtiene_fecha())
        }
        
    </script>
</head>

<body style="text-align:center">

        <div style=" text-align:center">
            <div class="widget">       
                <ul class="tabs">                   <li><a href="#tab1">Productos</a></li>                   <li><a href="#tab2">Sucursales</a></li>
                </ul>
                <div class="tab_container">
                    <div id="tab1" class="tab_content">                        <div>                        La cadena de cafeterias cuenta con diversos servicios en donde el usuario puede encontrar diferentes productos que ofrecemos
                        </div>

                            <img src="http://www.pastelerialatentacion.es/archivos/image/cafeteria1.jpg"  title="Productos Frescos" style=" text-align:center; width:230px; height:300px"  />
                             &nbsp&nbsp&nbsp&nbsp&nbsp 
                            <img src="http://www.pastelerialatentacion.es/archivos/image/productos_3.jpg"  title="Lujosos Restaurantes" style=" text-align:center; width:230px; height:300px"  />
                   
                        </div>
                        
                    <div id="tab2" class="tab_content">                         <div>                        Actualmente se cuenta con diversos Sucursales, que estan ubicados a                        nivel Nacional 
                        </div>

                            <img src="http://www.pastelerialatentacion.es/archivos/image/cafeteria2.jpg"  title="Local" style=" text-align:center; width:230px; height:300px"  />
                             &nbsp&nbsp&nbsp&nbsp&nbsp 
                            <img src="http://www.pastelerialatentacion.es/archivos/image/cafeteria3.jpg"  title="Local" style=" text-align:center; width:230px; height:300px"  />
                    
                   </div>
                </div>	
                <div class="clear"></div>		 
            </div>        </div>        <span class="balanceAmount">
                <h6 style="text-align: right" > Fecha Actual
                <script language="JavaScript" type="text/javascript">
                    MostrarFecha();
                </script>
                </h6>
        </span>
        <!-- Main content wrapper -->
    
</body>
</html>

